@import url("reset.css");

/* mobile */
.registration {
  background: var(--bg-color) url(../images/mobile-bg.png) no-repeat bottom
    right/ contain;
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
}

.container {
  min-width: 22.5rem;
  max-width: 48rem;
  height: 100vh;
  padding: 1.25rem clamp(1.25rem, 5.55vw, 2rem);

  display: grid;
  grid-template-rows: 1.875rem 1fr;
  gap: clamp(1rem, 2.864vw, 1.37rem);
}

.columns-2 {
  height: 100%;
  display: grid;
  gap: clamp(1.5rem, 4.17vw, 2rem);
  justify-content: center;
}

.section-text {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.event-info {
  display: inline-flex;
  flex-direction: column;
  gap: clamp(0.5rem, 1.89vw, 0.75rem);
}

.event-title,
.event-time {
  position: relative;
  height: clamp(1.875rem, 6.51vw, 2.25rem);
  align-self: self-start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: clamp(0.5rem, 2.15vw, 1rem);
  border: 0.4px solid var(--accent-color);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}
.top-left,
.top-right,
.bottom-left,
.bottom-right {
  position: absolute;
  width: 0.125rem;
  height: 0.125rem;
  background-color: var(--accent-color);
}
.top-left {
  top: -0.078rem;
  left: -0.078rem;
}
.top-right {
  top: -0.078rem;
  right: -0.078rem;
}
.bottom-left {
  bottom: -0.078rem;
  left: -0.078rem;
}
.bottom-right {
  bottom: -0.078rem;
  right: -0.078rem;
}

.title {
  font-weight: 700;
  font-size: clamp(2rem, 6.788vw, 2.25rem);
  line-height: 1.25;
}

.text {
  width: 20rem;
}

/* стилі блоку для реєстрації */
.register-wrapper {
  width: 20rem;
  display: grid;
  gap: 1.5rem;
  padding: 2rem 1.25rem;
  background-color: var(--contrast);
  text-align: center;
  margin-inline: auto;
  box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
  margin-bottom: auto;
}

.portableContainer {
  display: grid;
  gap: 1.5rem;
}

.register-text {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;
}

/* стилі для лічильника */
.countdown {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.125rem;
}

.timer span {
  display: block;
  text-align: center;
  min-width: 2.8125rem;
}

.timer > .value {
  position: relative;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.14;
}

.timer:not(:last-child) > .value::before {
  content: ":";
  position: absolute;
  height: 0.125rem;
  top: -0.125rem;
  right: -0.9375rem;
  border-radius: 50%;
  color: rgba(1, 1, 1, 0.2);
}

.timer > .label {
  font-weight: 600;
  font-size: 0.5rem;
}

/* стилі кнопки для відкриття модал. та відправки даних форми */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: clamp(3.5rem, 12vw, 4rem);
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.5;
  background-color: var(--accent-color);
  color: var(--contrast);
}

/* стилі для форми */
.register-form {
  display: none;
}

.register-form.show {
  display: grid;
  gap: 2rem;
}

.form-inputs {
  display: grid;
  gap: 1.25rem;
}

.input {
  width: 100%;
  height: 3rem;
  background-color: var(--bg-inputs);
  padding: 0.75rem 1rem;
  font-size: inherit;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--bg-inputs) inset;
}

.input::placeholder {
  color: var(--input-placeholder);
  font-weight: 400;
  font-size: inherit;
  line-height: 1.5;
}

.phone-label {
  position: relative;
  padding-left: 2rem;
  background-color: var(--bg-inputs);
}

.flag-logo {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.checkbox-container {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  border: 1px solid var(--accent-color);
}

.custom-checkbox svg {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.check:checked + .custom-checkbox svg {
  opacity: 1;
}

.text-checkbox {
  font-size: 0.75rem;
  line-height: 1.33;
  text-align: left;
}

.text-checkbox a {
  color: var(--privacy-link);
}

.error {
  border: 1px solid red;
}
.error .input {
  color: red;
}

/* стилі для модального */
.modal {
  position: fixed;
  z-index: 5;
  inset: 0;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  backdrop-filter: blur(0.5rem);
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transform: translate(6.25rem, -6.25rem);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.modal-content {
  position: relative;
  width: 22.5rem;
  height: 42.5rem;
  padding: 1.8125rem 1.25rem;
  background: var(--contrast);
}

.modal-content.container {
  gap: 3.625rem;
}

.close-btn {
  position: absolute;
  top: 1.8125rem;
  right: 1.25rem;
  width: 2rem;
  height: 2rem;
  padding: 0.4375rem;
}

/* ================================================== */
/* tablet */
/* ================================================== */
@media screen and (min-width: 48rem) {
  .registration {
    background-image: url(../images/tabl-bg.png);
  }

  .container {
    max-width: 90rem;
    padding: 1.81rem 4.17%;
    gap: clamp(1.37rem, 2.777vw, 2.5rem);
  }

  .columns-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
  }

  .section-text {
    grid-template-rows: repeat(3, auto);
    gap: 1.5rem;
    margin-bottom: 10.25rem;
  }

  .event-title,
  .event-time {
    font-size: 1rem;
    line-height: 1.5;
  }

  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    width: 4px;
    height: 4px;
  }
  .top-left {
    top: -2.25px;
    left: -2.25px;
  }
  .top-right {
    top: -2.25px;
    right: -2.25px;
  }
  .bottom-left {
    bottom: -2.25px;
    left: -2.25px;
  }
  .bottom-right {
    bottom: -2.25px;
    right: -2.25px;
  }

  .title {
    font-size: clamp(2.25rem, 3.888vw, 3.5rem);
    line-height: 1.22;
  }

  .register-wrapper {
    width: clamp(21rem, 64%, 36.15rem);
    height: clamp(32.375rem, 67.44vw, 36.25rem);
    margin-inline: auto;
    padding-inline: 5.95%;
  }

  .register-wrapper > .button {
    display: none;
  }

  .register-form {
    display: grid;
    gap: 2rem;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .registration {
    background-image: url(../images/desk-bg.png);
  }

  .container {
    padding: 2.5rem 7rem;
  }

  .columns-2 {
    gap: max(6.5rem, 7.222vw);
    grid-template-columns: minmax(39rem, 1fr) 1fr;
  }

  .section-text {
    padding-top: 3rem;
  }

  .event-info {
    flex-direction: row;
    gap: 1.875rem;
  }

  .title {
    line-height: 1.21;
  }

  .desktop-break {
    display: inline;
  }

  .to-tablet-break {
    display: none;
  }

  .text {
    font-size: 1.25rem;
    line-height: 1.4;
    width: 100%;
  }

  .register-wrapper {
    width: 30.5rem;
    height: clamp(36.24rem, 72.5vh, 48rem);
    padding: 52px;
    padding: 3.25rem;
  }

  .portableContainer {
    gap: 3vh;
  }

  .register-text {
    font-size: 28px;
  }

  .timer > .value {
    font-size: 32px;
    line-height: 1.13;
  }

  .timer:not(:last-child) > .value::before {
    height: 0.375rem;
    top: -0.125rem;
    right: -1.9375rem;
    border-radius: 50%;
  }
}

/* ======retina==== */
/* mobile */
@media screen and (min-resolution: 192dpi) {
  .registration {
    background-image: url(../images/mobile-bg@2x.png);
  }
}
/* tablet */
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .registration {
    background-image: url(../images/tabl-bg@2x.png);
  }
}
/* desktop */
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .registration {
    background-image: url(../images/desk-bg@2x.png);
  }
}
