@import url("reset.css");

/* mobile */
.registration {
  background: var(--bg-color) url(../images/mobile-bg.png) no-repeat bottom
    right/ contain;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 360px;
  margin-inline: auto;
  padding: 1.25rem;
}

.logo {
  margin-bottom: 1rem;
}

.event-info {
  display: grid;
  justify-self: start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.event-title,
.event-time {
  position: relative;
  border: 0.025rem solid var(--accent-color);
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}
.event-title {
  width: 196px;
}
.event-time {
  width: 186px;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  position: absolute;
  width: 0.125rem;
  height: 0.125rem;
  background-color: var(--accent-color);
}
.top-left {
  top: -0.078rem;
  left: -0.078rem;
}
.top-right {
  top: -0.078rem;
  right: -0.078rem;
}
.bottom-left {
  bottom: -0.078rem;
  left: -0.078rem;
}
.bottom-right {
  bottom: -0.078rem;
  right: -0.078rem;
}

.title {
  max-width: 89%;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.text {
  max-width: 20rem;
  padding-bottom: 1.5rem;
}

/* стилі блоку для реєстрації */
.register-wrapper {
  width: 20rem;
  display: grid;
  gap: 1.5rem;
  background-color: var(--contrast);
  text-align: center;
  margin-inline: auto;
}

.box-shadow {
  box-shadow: 0 0 1.25rem 0 rgba(15, 124, 65, 0.2);
}

.padding {
  padding: 2rem 1.25rem;
}

.position {
  margin-inline: 0;
}

.register-text {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
}

/* стилі для лічильника */
.countdown {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.125rem;
}

.timer span {
  display: block;
  text-align: center;
  min-width: 2.8125rem;
}

.timer > .value {
  position: relative;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.14;
}

.timer:not(:last-child) > .value::before {
  content: ":";
  position: absolute;
  height: 0.125rem;
  top: -0.125rem;
  right: -0.9375rem;
  border-radius: 50%;
  color: rgba(1, 1, 1, 0.2);
}

.timer > .label {
  font-weight: 600;
  font-size: 0.5rem;
}

/* стилі для форми */
.register-form {
  display: none;
  gap: 2rem;
}
.register-form.show {
  display: grid;
}

.form-inputs {
  display: grid;
  gap: 1.25rem;
}

.input {
  width: 100%;
  height: 3rem;
  background-color: var(--bg-inputs);
  padding: 0.75rem 1rem;
  font-size: inherit;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--bg-inputs) inset;
}

.input::placeholder {
  color: var(--input-placeholder);
  font-weight: 400;
  font-size: inherit;
  line-height: 1.5;
}

.phone-input {
  position: relative;
  padding-left: 2rem;
  background-color: var(--bg-inputs);
}

.flag-logo {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.checkbox-container {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  border: 1px solid var(--accent-color);
}

.custom-checkbox svg {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.check:checked + .custom-checkbox svg {
  opacity: 1;
}

.text-checkbox {
  font-size: 0.75rem;
  line-height: 1.33;
  text-align: left;
}

.text-checkbox a {
  color: var(--privacy-link);
}

.error {
  border: 1px solid red;
  background-color: #ffe6e6;
  color: red;
}

/* стилі кнопки для відкриття модал. та відправки даних форми */
.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.5;
  padding: 1rem 4.1rem;
  background-color: var(--accent-color);
  color: var(--contrast);
}

/* стилі для модального */
.modal {
  position: fixed;
  z-index: 5;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  backdrop-filter: blur(6.25rem);
  background: var(--contrast);
  opacity: 0;
  visibility: hidden;
  transform: translateX(6.25rem);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.modal-content {
  width: 100%;
  padding: 1.8125rem 1.25rem;
  border-radius: 0.3125rem;
  position: relative;
}

.modal-content > .logo {
  margin-bottom: 1.625rem;
}

.close-btn {
  position: absolute;
  top: 1.8125rem;
  right: 1.25rem;
  width: 2rem;
  height: 2rem;
  padding: 0.4375rem;
}

/* ================================================== */
/* tablet */
@media screen and (min-width: 768px) {
  .registration {
    background-image: url(../images/tabl-bg.png);
  }

  .container {
    max-width: 768px;
    padding: 2rem 1.8125rem;
  }

  .columns-2 {
    display: flex;
    gap: 2em;
    /* margin-inline: auto; */
  }

  .logo {
    margin-bottom: 1.375rem;
  }

  .section-text {
    padding-top: 1.4375rem;
  }

  .event-info {
    gap: 0.75rem;
    margin-bottom: 1.125rem;
  }

  .event-title,
  .event-time {
    font-size: 1rem;
    line-height: 1.5;
    height: 36px;
  }
  .event-title {
    width: 238px;
  }
  .event-time {
    width: 226px;
  }

  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    width: 4px;
    height: 4px;
  }
  .top-left {
    top: -2.25px;
    left: -2.25px;
  }
  .top-right {
    top: -2.25px;
    right: -2.25px;
  }
  .bottom-left {
    bottom: -2.25px;
    left: -2.25px;
  }
  .bottom-right {
    bottom: -2.25px;
    right: -2.25px;
  }

  .title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1.22;
  }

  .text {
    padding-bottom: 0;
  }

  .register-wrapper {
    width: 336px;
  }

  .register-wrapper > .button {
    display: none;
  }

  .register-form {
    display: grid;
    gap: 32px;
  }
}

/* ================================================== */
/* desktop */
@media screen and (min-width: 1440px) {
  .registration {
    background-image: url(../images/desk-bg.png);
  }

  .columns-2 {
    gap: 101px;
  }

  .container {
    max-width: 1440px;
    padding: 40px 112px;
  }

  .logo {
    margin-bottom: 40px;
  }

  .section-text {
    padding-top: 48px;
  }

  .event-info {
    display: flex;
    gap: 30px;
    margin-bottom: 42px;
  }
  .event-title,
  .event-time {
    height: 40px;
  }
  .event-title {
    width: 238px;
  }
  .event-time {
    width: 230px;
  }

  .title {
    max-width: 97%;
    font-size: 56px;
    line-height: 1.21;
    margin-bottom: 40px;
  }

  .desktop-break {
    display: inline;
  }

  .text {
    font-size: 20px;
    line-height: 1.4;
    max-width: 34.6rem;
  }

  .to-tablet-break {
    display: none;
  }

  .register-wrapper {
    flex-shrink: 0;
    width: 488px;
    padding: 52px;
  }

  .register-text {
    font-size: 28px;
  }

  .timer > .value {
    font-size: 32px;
    line-height: 1.13;
  }

  .timer:not(:last-child) > .value::before {
    height: 0.375rem;
    top: -0.125rem;
    right: -1.9375rem;
    border-radius: 50%;
  }
}

/* ======retina==== */
/* mobile */
@media screen and (min-resolution: 192dpi) {
  .registration {
    background-image: url(../images/mobile-bg@2x.png);
  }
}
/* tablet */
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .registration {
    background-image: url(../images/tabl-bg@2x.png);
  }
}
/* desktop */
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .registration {
    background-image: url(../images/desk-bg@2x.png);
  }
}

/* .input:invalid {
  border: 1px solid red;
  background-color: #ffe6e6;
  color: red;
} */
